{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap">
    <link rel="stylesheet" href="{% static 'index_styles.css' %}">
    <!-- Incluir Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="d-flex align-items-center justify-content-center vh-100 text-center">
    <div class="container">
        <h2 class="display-4">Duofit</h2>
        <p class="lead">Has completado {{ weekly_completed_trainings }}/{{ exercice_config.weekly_goal }} esta semana</p>
        <p class="lead">Llevas {{ today_completed_trainings }}/{{ today_goal }} entrenamientos hoy.</p>

        <form id="logTrainingForm" method="post" action="{% url 'log_training' %}" class="mb-4">
            {% csrf_token %}
            {% for category in exercice_config.get_categories %}
                <button type="button" class="btn btn-danger btn-lg rounded-circle" onclick="submitForm('{{ category }}')">{{ category }}</button>
            {% endfor %}
        </form>
        <p class="lead">Streak: {{ exercice_config.streak }}</p>
    </div>

    <!-- Incluir Bootstrap JS y Popper.js si es necesario -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'index.js'%}"></script>

    {% include 'navbar_bottom.html' %}
</body>
</html>
