<!-- head section -->
{% load static %}
<head>
    <!-- Enlaces para Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<!-- body section -->
<body>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container">
            <!-- Columna izquierda -->
            <div class="col-4 text-left">
                <button class="btn btn-link btn-sm custom-link" id="logoutButton" data-toggle="modal" data-target="#logoutModal">
                    Cerrar sesión
                </button>
            </div>

            <!-- Columna centro -->
            <div class="col-4 text-center">
                <button class="btn btn-link btn-sm custom-link" data-toggle="modal" data-target="#addTrainingModal">
                    Estadísticas
                </button>
            </div>

            <!-- Columna derecha -->
            <div class="col-4 text-right">
                <a href="{% url 'editconfig' %}" class="btn btn-link btn-sm custom-link">
                    Configuración
                </a>
            </div>
        </div>
    </nav>
    <!-- Scripts de Bootstrap and Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

    <!-- Script personalizado -->
    <script src="{% static 'logout.js' %}"></script>
    <script src="{% static 'navbar_functions.js'%}"></script>

    <!-- Estilos personalizados -->
    <style>
        .custom-link {
            color: black; /* Set the color you want for the links */
            text-decoration: none; /* Remove underline */
        }
    </style>
</body>
